.background {
    height: 200vh;
    width: 100vw;
    background-color: black;
}

.terminal {
    text-align: left;
    border: solid 2px grey;
    color: white;
    padding: 10px;
    height: 350px;
    width: 80vw;
    position: absolute;
    top: 250px;
    &__text {
        color: red;
        font-weight: bold;
        &--intro {
            margin-bottom: 14px;
            color: red;
            font-weight: bold;
        }
    }
    &__input {
        margin-right: 50px;
        padding: 7.75px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        width: 50%;
        border: solid 2px red;
        background-color: black;
        color: white;
        margin-bottom: 5px;
    }
    // &__prompt {

    // }
}

span {
    color: white;
    font-weight: 100;
}

.greeting {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: center;
}

.TUT-greeting {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
}



.nav {
    &__power {
        height: 75px;
        position: absolute;
        bottom: 20px;
        left: 170px;
        
    }
    &__arrow {
        height: 75px;
        position: absolute;
        bottom: 20px;
        right: 50px;
    }
}

.username {
    color: white;
}

.output {
    text-align: left;
    border: solid 2px grey;
    color: white;
    padding: 10px;
    height: 575px;
    width: 80.25vw;
    position: absolute;
    top: 765px;
    left: 29px;
    right: 29px;
    &__text {
        color: red;
        font-weight: bold;
    }
    &__name {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    &__description {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 5px;
    }
}