.background {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.terminal {
    text-align: left;
    border: solid 2px grey;
    color: white;
    padding: 10px;
    height: 350px;
    width: 80vw;
    position: absolute;
    top: 250px;
    &__text {
        color: red;
        font-weight: bold;
    }
    // &__prompt {

    // }
}

.greeting {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: center;
}

.TUT-greeting {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
}



.nav {
    &__power {
        height: 75px;
        position: absolute;
        bottom: 20px;
        left: 170px;
        
    }
    &__arrow {
        height: 75px;
        position: absolute;
        bottom: 20px;
        right: 50px;
    }
}

.username {
    color: white;
}