.exercise {
    color: red;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
}

.description {
    color: white;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 15px;
    border-bottom: 0.5px solid white;
    padding-bottom: 5px;
}