.background {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.boot {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: center;
}

.TUT-boot {
    height: 150px;
    width: 150px;
    position: relative;
    top: 50px;
}

.prompt {
    &__power {
        height: 75px;
        position: absolute;
        bottom: 20px;
        left: 170px;
        
    }
    &__arrow {
        height: 75px;
        position: absolute;
        bottom: 20px;
        right: 50px;
    }
}

.username {
    color: white;
}