.background {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.boot {
    padding: 70px 16px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: center;
}

.TUT-boot {
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
}

.prompt {
    &__booting {
        color: white;
        font-size: 12px;
    }
    &__arrow {
        height: 150px;
        position: fixed;
        bottom: 50px;
        left: 150px;
    }
}

.username {
    color: white;
}