.background {
    height: 200vh;
    width: 100vw;
    background-color: black;
}

.prompt {
    &__power {
        height: 75px;
        position: absolute;
        bottom: 20px;
        left: 170px;
    }
}