.background {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.input {
    padding: 70px 16px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: center;
}

// .checkbox-form {
//     color: white;
//     &__upper-box {

//     }
//     &__upper {

//     }
//     &__lower-box {

//     }
//     &__lower {

//     }
// }

.TUT-talking {
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
}

.prompt {
    &__username {
        color: white;
        font-size: 12px;
    }
    &__arrow {
        height: 150px;
        position: fixed;
        bottom: 50px;
        left: 150px;
    }

}