.background {
    height: 200vh;
    width: 100vw;
    background-color: black;
}

.terminal {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: left;
    border: solid 2px grey;
    color: white;
    padding: 10px;
    height: fit-content;
    width: 80vw;
    position: absolute;
    top: 250px;
    &__text {
        color: red;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
        &--special {
            font-size: 15px;
            font-weight: bold;
            color: red;
            margin-bottom: 0;
        }
    }
    &__button {
        border: solid 2px red;
        padding: 7px;
        background-color: black;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
    }
    // &__prompt {

    // }
}

.checkbox-box {
    margin-bottom: 10px;
}

.output {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    border: solid 2px grey;
    color: white;
    padding: 10px;
    height: fit-content;
    width: 80.25vw;
    position: absolute;
    top: 765px;
    left: 29px;
    right: 29px;
    &__box {
        border-bottom: solid 2px white;
        margin-bottom: 10px;
    }
    &__text {
        color: red;
        font-weight: bold;
        &--special {
            margin-top: 0;
        }
    }
    &__instruction {
        color: red;
        margin-top: 0;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
        &--warmup {
            color: red;
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 17px;
            font-weight: bold;
            text-align: center;
        }
    }
    &__header {
        color: white;
        margin-top: 0;
        font-size: 17px;
        font-weight: 200;
        margin-bottom: 10px;
    }
    &__warmup {
        display: flex;
        justify-content: space-between;
        &--output {
            color: white;
            font-size: 20px;
            margin-top: 0;
            margin-bottom:10px;
        }
    }
    &__exercise {
        color: white;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    &__inline {
        display: flex;
        justify-content: space-between;
    }
}

.option-box {
    margin-bottom: 5px;
    &__box {
        margin: 0;
    }
}

.greeting {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: center;
}

.TUT-greeting {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
}

.description {
    &__border {
        text-decoration: none;
        border-bottom: 0;
    }
    &__button {
        border: solid 2px red;
        color: white;
        width: fit-content;
        padding: 5px;
    }
}

.nav {
    &__power {
        height: 75px;
        position: absolute;
        bottom: 20px;
        left: 170px;
        
    }
    &__arrow {
        height: 75px;
        position: absolute;
        bottom: 20px;
        right: 50px;
        &--leftside {
            height: 75px;
            position: absolute;
            bottom: 20px;
            left: 50px;
        }
    }
}