.background {
    height: 200vh;
    width: 100vw;
    background-color: black;
}

.terminal {
    text-align: left;
    border: solid 2px grey;
    color: white;
    padding: 10px;
    height: 350px;
    width: 80vw;
    position: absolute;
    top: 250px;
    &__text {
        color: red;
        font-weight: bold;
    }
    // &__prompt {

    // }
}

.output {
    text-align: left;
    border: solid 2px grey;
    color: white;
    padding: 10px;
    height: fit-content;
    width: 80.25vw;
    position: absolute;
    top: 765px;
    left: 29px;
    right: 29px;
    &__text {
        color: red;
        font-weight: bold;
        &--special {
            margin-top: 0;
        }
    }
    &__instruction {
        color: red;
        margin-top: 0;
        font-size: 14px;
        font-weight: bold;
    }
    &__header {
        color: white;
        margin-top: 0;
        font-size: 14px;
    }
    &__warmup {
        display: flex;
        justify-content: space-between;
        &--output {
            color: white;
            font-size: 18px;
            margin-top: 0;
        }
    }
    &__exercise {
        color: white;
        font-size: 18px;
        margin-top: 0;
        text-transform: uppercase;
    }
    &__inline {
        display: flex;
        justify-content: space-between;
    }
}

.true-false {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.greeting {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: center;
}

.TUT-greeting {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
}



.nav {
    &__power {
        height: 75px;
        position: absolute;
        bottom: 20px;
        left: 170px;
        
    }
    &__arrow {
        height: 75px;
        position: absolute;
        bottom: 20px;
        right: 50px;
    }
}

.option-box {
    &__box {
        color: black;
    }
    &__text {

    }
}